html, body {
	margin:0;
	padding:0;
}

body {
	font-family: SEGOE UI;
	background: #f8f8f8	;
}

.navigation {
	width:100%;
	background-color: #191970;
}

.navigation table {
	border-collapse:collapse;
	width:100%;	
	color: white;
	font-size: 16px;
}

.navigation td {
	padding: 20px;
}